<!-- strict locals  -->
<%# locals: (product:) %>
<div class="product">
  <h3><%= product.name %></h3>
  <p>Price: $<%= product.price %></p>
 
</div>


<!--
<% local_assigns[:product] %>
<%local_assigns[:product_reviews]%> -->